<h1> Новый вопрос для теста <%= @test.title %></h1>

<%= form_with model: [@test, @question], local: true do |form| %>
  <div>
  <%= form.label :content, "Текст вопроса" %>
  <%= form.text_area :content %>
    </div>

    <div>
    <%= form.submit "Создать вопрос" %>
    </div>
<% end %>
