<h1><%= @test.title %></h1>

<%= form_with model: [@test, @question], local: true do |form| %>
  <div>
  <%= form.text_area :body, placeholder: "Enter new question" %>
    </div>
      <br>
    <div>
    <%= form.submit "Create" %>
    </div>
<% end %>
<br >
<%= link_to "Back", test_path(@question.test) %>
