<h1> New Test: </h1>

<%= form_with model: @test, local: true do |form| %>
  <div>
    <%= form.text_field :title, placeholder: "Enter title here" %>
  </div>
<br>
  <div>
    <%= form.label :level %><br>
    <%= form.number_field :level %>
  </div>
<br>
  <div>
    <%= form.label :category_id, "Category" %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title %>
  </div>
<br>
  <div>
    <%= form.submit "Create Test" %>
  </div>
<% end %>
<br>
<%= link_to 'Back', tests_path %>
<%= link_to 'Create New Question', new_test_question_path(@test) if @test.persisted? %>
