`<h1 style="margin: 20px; display: flex; justify-content: space-between; align-items: center;">
  <%= @test.title %>

  <%= form_with model: @test, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "inline-form", local: true do %>
  <%= submit_tag "✕", style: "background: none; border: none; font-size: 24px; cursor: pointer; color: #900;" %>
  <% end %>
</h1>
<div class="test-card" style="border: 1px solid #ddd; border-radius: 8px; padding: 20px; margin: 20px; margin-bottom: 25px; box-shadow: 0 2px 4px rgba(0,0,0,0.05);">
 
  <h2>Questions & Answers:</h2>

  <!-- Список вопросов -->
  <ol class="questions-list">
    <% @test.questions.each do |question| %>
      <li class="question-item" style="margin-bottom: 15px;">
        <div style="display: flex; align-items: center;">
          <%= link_to question.body, edit_question_path(question) %>
          <%= form_with model: question, method: :delete, local: true, class: "inline-form" do %>
            <%= submit_tag "✕", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "background: none; border: none; cursor: pointer; margin-left: px;" %>
          <% end %>
        </div>

        <!-- Список ответов -->
        <ul style="margin-top: 5px; padding-left: 20px;">
          <% question.answers.each do |answer| %>
            <li style="display: flex; align-items: center;">
              <%= answer.body %>
              <%= form_with model: answer, method: :delete, local: true, class: "inline-form" do %>
                <%= submit_tag "✕", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, style: "background: none; border: none; cursor: pointer; margin-left: 0px;" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ol>

  <ul>
    <li><%= link_to 'New Question', new_test_question_path(@test), class: 'btn btn-primary' %><br><br></li>
  </ul>

  <%= link_to 'Back', tests_path %>
</div>
