<h1>
<%= @test.title %>
  <%= delete_resource_button(@test) %>
</h1>

<p>Level: <%= @test.level %></p>

<h2>Questions:</h2>

<ol class="questions-list">
  <% @test.questions.each do |question| %>
    <li class="question-item" style="display: flex; align-items: center;">
      <%= link_to question.body, edit_question_path(question) %>
        <%= delete_resource_button(question) %>
    </li>
  <% end %>
</ol>
<ul>
<li><%= link_to 'New', new_test_question_path(@test), class: 'btn btn-primary' %><br><br>
</ul>
<%= link_to 'Back To Tests', tests_path %>
